.vert-offset-top-0{
    margin-top: 0em;
}
.vert-offset-top-2{
    margin-top: 2em;
}

.new-task-group {
    margin-left: 0!important;
    margin-right: 0!important;
}

.todoBox .list-group .img-circle:first-child {
    margin-right: 2px;
}
